.terraform/
#terraform state files
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*
*.backup


#variables file (may contain secreats)
*.tfvars
*.tfvars.json
*.auto.tfvars

#CLI configure files
.terraformrc
terraform.rc

#sensitive  files
*.pem
*.key
*.pfx
*.crt
*.env

#logs
*.log

#OS files
.DS_Store
Thumbs.db

#IDE files
.vccode/
.idea/